* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: lightcyan;
}

header {
    align-content: center;
    width: 100%;
    background-color: turquoise;
    margin: 16px;
    border-radius: 5px;
    display: inline-block;
}

nav {
    overflow: hidden;
    background-color: turquoise;
    display: inline-block;
}

nav a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.dropdown {
    float: right;
    overflow: hidden;
    border-radius: 5px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: turquoise;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
}

nav a:hover, .dropdown:hover, .dropbtn {
    background-color: teal;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: turquoise;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: teal;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}